.menu{
    size: 139px,60px;   
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    box-sizing: border-box;
    margin: 0px;
}
nav{
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .primary{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0px auto;
}
.primary a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.live{
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 4px;
    padding: 16px,12px;
    border: none;
    size: 164px,44px;
}
.bacground-image{
  height: 400px;
  background-image: url("../hero-bg.png"); /* image path */
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: ;

  
}
